
*{
    list-style: none;
    margin: 0;
    padding: 0;
}
:root{
    --color:white;
    --ground: rgb(0,0,0);
    --ft: rgba(12, 12, 12, 0.6) ;
    --span-border:rgba(255, 255, 255, .5)  ;
    --spanbg:  rgba(255, 255, 255, 0.2);
    --botao-img: url(/img/moon-stars.svg) no-repeat center ;
    --box:rgba(255, 255, 255, 1);
}
.luz{
    --color: black;
    --ground: white;
    --ft:  ;
    --span-border:rgba(0, 0, 0, .5)  ;
    --spanbg:  rgba(0, 0, 0, 0.2);
    --botao-img: url(/img/sun.svg) no-repeat center ;
    --box:rgba(0, 0, 0, 1);
}
body{
    background-color: var(--ground);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
 nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
ul li{
    margin-top: 20px ;
}
li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    padding: 16px;
    color: rgba(0, 0, 255, 0.818);
}
#botao{
    display: block;
    width: 64px;
    margin-left: 90%;
    height: 24px;
    position: relative;
    padding: 0px;
}
#botao button{
    background: var(--botao-img) ;
    height: 32px;
    width: 32px;
    border: none;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    z-index: 1;
    left: 0;
    background-color: white;
    animation: back .4s;
}
#botao button:hover{
    outline: 8px solid var(--spanbg);
    cursor: pointer;
}
.luz #botao button{
    left: initial;
    right: 0;
    animation: sing-up .4s;
}
span{
    display: block;
    border:  1px solid var(--span-border) ;
    background-color: var(--spanbg);
    border-radius: 9999px;
    width: 62px;
    height: 24px;
    
}
article{
    margin: 10rem auto;
    width: 600px;
    padding: 0;
}
article .two{
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 200px;

}
.ft{
    width: 200px;
    position: absolute;
    right: 2%;
    top: 200px;
    border-radius: 50%;
    background-color: var(--ft);
}
article h1{
    text-align: center;
    color: var(--color);
    margin-bottom: 40px;
    font-size: 30px ;
    padding-top: 40px;
}
article p{
    padding-bottom: 20px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 20px;
   
}
article .p{
    text-align: center;
}

article p,h2{
    color: var(--color);
    
}
#bot{
    width: 700px;
    box-shadow: 2px 2px 9px var(--box);
}
#sombras{
    width: 600px;
    margin: 7rem auto;
    color: var(--color);
}
.a{
    box-shadow: 2px 2px 8px var(--color);
    padding: 20px ;
}
.a img{
    border-radius: 50%;
    margin: auto;
    display: block;
}
.a h1,h2{
    text-align: center;
    
}
.a p{
    font-size: 20px;
    margin: 13px;
    text-align: center;
}
@keyframes sing-up{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}
@keyframes back {
    from{
        left: 50%;
    }

    to{
        left: 0;
    }
    
}